.container {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 1rem;
}

.checkbox {
  /* margin-right: 1rem; */
}

.input {
  border: none;
  width: 100%;
  font-size: 0.875rem;
  background: none;
  color: inherit;

  &::placeholder {
    color: #999999;
  }

  &:focus {
    /* outline: none; */
  }
}

.icon {
  cursor: pointer;
}

.isComplete {
  text-decoration: line-through;
  color: #999999;
}

.success {
  background-color: #eaffcf;
  border: 1px solid #a9e065;
  color: #385b0d;
}

.warning {
  background-color: #fffacb;
  border: 1px solid #e2d55c;
  color: #5b4e0d;
}

.danger {
  background-color: #ffecec;
  border: 1px solid #f7bdbd;
  color: #5b0d0d;
}

.info {
  background-color: #d9e8ff;
  border: 1px solid #84aff3;
  color: #183666;
}
