.container {
  position: relative;
}

.searchBar {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  margin: 1.365rem 0;
  width: 100%;

  &::placeholder {
    color: #999999;
  }
}

.filterText {
  font-size: 11px;
  position: absolute;
  left: 24px;
  bottom: 5px;
  color: #5b0d0d;
}
